.header{
    background-color: #2c7e59;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #63b26e;
}

.tags-li.active {
    border: 1px solid #63b26e;
    background-color: #63b26e;
}
.message-title{
    color: #63b26e;
}
.collapse-btn:hover{
    background: rgb(40,52,70);
}